{% extends 'base.html'%}

{% block body %}
<div class="container-fluid header">
    <div class="row">
        <div class="col-md-7">
            <h3>FRAUD DETECTION</h3>
            <a name="info" id="info" class="btn btn-primary" href="#" role="button">KNOW MORE</a>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<style>
    .header{
        background-image:url(/Static/images/);
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
{% endblock %}

{% block js %}{% endblock %}


